.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.refresh{
  justify-content: center;
  align-items: center;
  display: block;
}

.btnPlayAgain{
  border: none;
  background-color: gainsboro;
  padding: 10px;
  border-radius: 5px;
  color: black;
}

.dice {
  text-align: center;
  display: inline-block;

}

body{
  font-family: "REM", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

h2 {
  margin: 30px;
  font-size: 6rem;
}

p {
  font-size: 2rem;
}

img {
  width: 80%;
}

footer {
  margin-top: 5%;
  text-align: center;
}

.info{
  color: lightgray;
  font-size: 0.75rem;
}
